body *{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0px 0 lightgrey;
  font-weight: lighter;
  color: white;
  /*rgb(244, 67, 54)*/
  padding:0;
  margin:0;
}
header{
  background-color: rgb(0, 188, 212);
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

#FreeSoundSearch{

  margin-left: 100px;
  width:50%;
  display: inline-block;
  position: relative;
}

fieldset{
    padding-top: 20px;
    border:0px;
    /*margin-bottom: 25px;*/
}

#searchText{
  vertical-align: bottom;
}

#soundLink{
  padding-top: 25px;
  margin-right: 20px;
  text-align: right;
  float: right;
  width:30%;
  display: inline-block;
  position: relative;

}
main{
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  /*position:relative;*/
}

#results *{

}

a {
  font-weight: lighter;
  text-decoration: none;
  color: white;
}

/* mouse over link */

a:visited {
  color: white;
}


a:hover {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
}

/* selected link */
a:active {
    color: white;
}
